.place__website {
    /* grid-area: website; */
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */
letter-spacing: 0.2em;
color: #AAAAAA;

display: flex;
flex-direction: column;
justify-content: flex-end;
grid-area: website;
}

@media screen and (max-width:768px) {
    .place__website {
        
        display: none;
        
    
    }

}