.place__paragraph {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163%;
/* or 29px */
color: #FFFFFF;
/* grid-area: paragraph; */
margin: 0;
padding-bottom: 24px;


}
@media screen and (max-width:768px) {
    .place__paragraph {
    padding-right: 16px;
    padding-left: 16px;
    }

}